body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
input
{
    width: 90%;
    border: 2px solid black ;
    height: 50px;
    border-radius: 4px;
}
button{
    width: 20%;
    height: 50px;
    border: 2px solid black;
    text-size-adjust: ;
}